<ion-toolbar>
  <!-- Icono a la izquierda -->
  <ion-buttons slot="start">
    <ion-icon name="videocam-outline" size="large" class="margin-left color-icon"></ion-icon>
  </ion-buttons>

  <!-- Título centrado -->
  <ion-title class="ion-text-center"><b>Top Películas</b></ion-title>

  <!-- Botones a la derecha -->
  <ion-buttons slot="end" class="ion-hide-sm-down"> <!-- Ocultar en pantallas pequeñas -->
    <ion-button *ngFor="let item of rutas" (click)="navigateTo(item.link)">
      {{item.title}}
    </ion-button>
    <ion-button color="danger" (click)="onLogOut()">Cerrar sesión</ion-button>
  </ion-buttons>

  <!-- Menú hamburguesa para pantallas pequeñas -->
  <ion-buttons slot="end" class="ion-hide-lg-up"> <!-- Mostrar en pantallas pequeñas -->
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
