<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="center-elements">
      <ion-col size-md="12" size-sm="12">
        <form (ngSubmit)="onLogin()">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email o Nombre de usuario</ion-label>
              <ion-input type="text" [(ngModel)]="user.username" name="username" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
            </ion-item>
          </ion-list>

          <ion-button class="btnLogin" type="submit">Iniciar sesión</ion-button>

          <ion-button fill="outline" (click)="goToRegister()">
            Registrarme
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
