<ion-header>
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-sm="12">
        <form (ngSubmit)="onRegister()">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Nombre de Usuario</ion-label>
              <ion-input type="text" [(ngModel)]="fullName" name="fullName" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Confirma contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
            </ion-item>
          </ion-list>

          <ion-button expand="block" type="submit">Registrarme</ion-button>

          <ion-button expand="block" fill="outline" (click)="goToLogin()">
            Iniciar sesión
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
